.centro-estilo {
    background: #ed4343;
}

.secao-centro {
    display: flex;
    background: #ed4343;
    justify-content: space-around;
    padding: 10px;
    margin-left: 3em;
    margin-top: 50px;
}

.centro {
    display: flex;
    flex-direction: column;
    background: #ed4343;
}

.centro__titulo {
    font-size: 60px;
    margin-top: 28px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.centro__txt {
    margin-top: 22px;
    margin-bottom: 22px;
}

.centro__txt1, .centro__txt2, .centro__txt3 {
    font-size: 24px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.centro__botao {
    background-color: white;
    color: #ed4343;
    border-radius: 5px;
    border:solid 2px #ed4343;
    width: 250px;
    height: 50px;
    text-align: center;
}

.centro__botao-estilo:hover{
    color: #A52A2a;
}

.centro__botao-estilo {
    color: #ed4343;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.centro__baner-img {
    margin-top: 30px;
    height: 400px;
    width: 600px;
}

@media(max-width: 700px) {
    .secao-centro {
        display: flex;
        flex-direction: column;
    }

    .centro {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .centro__titulo {
        font-size: 40px;
        padding: 10px;
    }

    .centro__txt, .centro__txt1, .centro__txt2, .centro__txt3{
        font-size: 15px;
    }

    .centro__baner-img {
        width: 80%;
        height: 80%;
    }


}